src/peng/.idea/.name
src/peng/.idea/encodings.xml
src/peng/.idea/misc.xml
src/peng/.idea/modules.xml
src/peng/.idea/peng.iml
src/peng/.idea/workspace.xml
src/peng/descriptor.pyc
src/peng/matcher.pyc
dinodescriptor.pyc
dinomatcher.pyc
dinosegmenter2.pyc
ColorSegmenter.pyc
dinoResultsHandler.pyc
utils.pyc
utils2.pyc
